*{
    box-sizing: border-box;
    max-width: 100%;
    margin: 0px;
}

html, body{
background-color: rgb(243,243,243);
/* min-height: 100vh;
max-height: 100vh; */
font-size: 100%;
/* font-family:-webkit-full-screen; */
/* webkit-text-size-adjust: 100%; */
}

.mainContainer{
    padding: 50px;
    margin-top: 100px;
    /* width: 100%; */
}

.container1{
    background-color: rgb(255,255,255);
    width: 35%;
    margin: 0 auto;
    padding: 30px;
}

.logo1{
    display: flex;
    margin: 0 auto;
    padding-right: 10px;
}

.btn1{
    cursor: pointer;
    padding: 7px;
    /* font-weight: bolder; */
    background-color: blue;
    color: white;
    width: 150px;
    border: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: flex-end;
    justify-content: end; */
}

.pws{
    border: 0 auto;
    /* border-bottom: 50px; */
    border-block-end: 5px;
    border-bottom-width: 100px;
}

.border-bottom{
    border-color: black;

}

.form1{
    border: 10px;
    /* height: 25px;
    width: 25px; */
}

footer{
    position: fixed;
    bottom: 0;
    /* background-color: aqua; */
    width: 100%;
    text-align: end;
   /* margin: 20px; */
    /* padding: 5vh; */
    display: flex;
    justify-content: end;
}

@media screen and (max-width:1400px){
    .container1{
        width: 100%;
    }

        .btn1{
            flex-direction: row;
            justify-content: center;
        }
}

@media screen and (max-width:1200px){
    .container1 {
        width: 100%;
    }

    .btn1{
        justify-content: center;
    }
    
}
    


@media screen and (max-width:768px){
    .container1{
        width: 100%; 
}
.btn1{
    justify-content: center;
}
}

@media screen and (max-width:600px){
    .container1{
        width: 100%; 
}
.btn1{
    justify-content: center;
}
}

@media  screen and (max-width:420px) {
    .container1{
        width: 100%; 
}
.btn1{
    display: flex;
    flex-direction: row;
    /* display: flex; */
    justify-content: center;
    /* flex-direction: row; */
    
}
}